/*********** CONFIG & MIXIN ***********/
/****************************************/
/*********** PLUGIN ********************/
@import url(normalize.css);
@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);
/**************************************/
/************ SETTINGS & THEMES ******/
@font-face {
  font-family: "elle-regular";
  src: url("../fonts/ElleFutura/ElleFutura.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura.svg#elle-regular") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-book";
  src: url("../fonts/ElleFutura/ElleFutura-Book.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-Book.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-Book.svg#elle-book") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-light";
  src: url("../fonts/ElleFutura/ElleFutura-Light.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-Light.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-Light.svg#elle-light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-lightitalic";
  src: url("../fonts/ElleFutura/ElleFutura-LightItalic.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-LightItalic.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-LightItalic.svg#elle-lightitalic") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-italic";
  src: url("../fonts/ElleFutura/ElleFutura-Italic.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-Italic.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-Italic.svg#elle-italic") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-bold";
  src: url("../fonts/ElleFutura/ElleFutura-Bold.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-Bold.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-Bold.svg#elle-bold") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-bolditalic";
  src: url("../fonts/ElleFutura/ElleFutura-BoldItalic.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-BoldItalic.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-BoldItalic.svg#elle-bolditalic") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-medium";
  src: url("../fonts/ElleFutura/ElleFutura-Medium.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-Medium.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-Medium.svg#elle-medium") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-heavy";
  src: url("../fonts/ElleFutura/ElleFutura-Heavy.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-Heavy.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-Heavy.svg#elle-heavy") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "elle-heavyitalic";
  src: url("../fonts/ElleFutura/ElleFutura-HeavyItalic.otf") format("truetype"), url("../fonts/ElleFutura/ElleFutura-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleFutura/ElleFutura-HeavyItalic.woff") format("woff"), url("../fonts/ElleFutura/ElleFutura-HeavyItalic.svg#elle-heavyitalic") format("svg");
  font-weight: 300;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body {
  font-size: 100%;
}

body {
  background: none repeat scroll 0 0 #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: "elle-light", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  position: relative;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 1.25rem;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  color: #000;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

a[href]:not([class]) {
  color: #5ea4e0;
}

a {
  color: #5ea4e0;
  text-decoration: none;
  line-height: inherit;
  font-size: 14px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:hover, a:active {
  outline: none;
}

table {
  border: none;
}

table thead, table tbody {
  border: none;
}

table thead tr, table tbody tr {
  border: none;
}

table thead tr td, table thead tr th, table tbody tr td, table tbody tr th {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "elle-bold", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

ul li {
  list-style: inherit;
}

input[type="text"]::-moz-placeholder {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

input[type="text"]::-webkit-input-placeholder {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

input[type="text"]:-ms-input-placeholder {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

input[type="submit"], input[type="button"], button {
  border: none;
  background-color: transparent;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  display: block;
  border: none;
  font-family: "elle-lightitalic";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 6px 10px;
  background-color: #fff;
  color: #000;
  border: none;
  border: 1px solid #d8d8d8;
  -webkit-appearance: none;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}

select {
  width: 100%;
  display: block;
  font-family: "elle-light";
  font-style: normal;
  font-weight: 400;
  padding: 10px 10px;
  background-color: #cddef4;
  color: #414042;
  border: 1px solid #cfd8e5;
  font-size: 15px;
}

textarea {
  width: 100%;
  display: block;
  color: #414042;
  border: none;
  font-family: "elle-light";
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  background-color: #fff;
  resize: none;
  height: 100px;
  border: 1px solid #cfd8e5;
}

label {
  font-weight: normal;
  font-family: "elle-medium";
}

.form-type-checkbox label, .custom-checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #000;
  font-family: "elle-medium";
  line-height: 1;
  font-weight: 300;
}

.form-type-checkbox label:before, .custom-checkbox label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: none;
  margin-right: 10px;
  position: absolute;
  left: 0;
  background-color: #fff;
  top: 0;
  border: 1px solid #d8d8d8;
}

.form-type-checkbox label:after, .custom-checkbox label:after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  top: 0;
  left: 0;
  background-color: #5ea4e0;
  border-color: #5ea4e0;
  display: none;
}

.form-type-checkbox input[type=checkbox], .custom-checkbox input[type=checkbox] {
  display: none;
}

.form-type-checkbox input[type=checkbox]:checked + label:after, .custom-checkbox input[type=checkbox]:checked + label:after {
  display: block;
}

.form-type-radio label, .custom-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #000;
  font-family: "elle-medium";
  line-height: 1;
  font-weight: 300;
}

.form-type-radio label:before, .custom-radio label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: none;
  margin-right: 10px;
  position: absolute;
  left: 0;
  background-color: #fff;
  top: 0;
  border: 1px solid #d8d8d8;
}

.form-type-radio label:after, .custom-radio label:after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  top: 0;
  left: 0;
  background-color: #5ea4e0;
  border-color: #5ea4e0;
  display: none;
}

.form-type-radio input[type=radio], .custom-radio input[type=radio] {
  display: none;
}

.form-type-radio input[type=radio]:checked + label:after, .custom-radio input[type=radio]:checked + label:after {
  display: block;
}

input[type="submit"], input[type="reset"], button, input[type="button"] {
  font-size: 13px;
  font-family: "elle-medium";
  text-transform: uppercase;
  color: #000;
  padding: 8px 40px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-item-container:before, .form-item-container:after {
  content: " ";
  display: table;
}

.form-item-container:after {
  clear: both;
}

.custom-dropdown {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #CFD8E5;
}

.custom-dropdown select {
  border: none;
  width: calc(100% + 30px);
  background-image: url(../images/arrow_dropdown_selectbox.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 40px) 50%;
  background-color: #cddef4;
  line-height: 1.3;
  height: 43px;
  -webkit-appearance: none;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}

.inline-list {
  list-style: none outside none;
  margin: 0 0 0 -1.375rem;
  padding: 0;
}

.inline-list > li {
  display: block;
  float: left;
  list-style: none outside none;
  margin-left: 1.375rem;
}

.inline-list > li * {
  display: block;
}

.row {
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
}

.row .row {
  width: auto;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .column {
  position: relative;
  padding-left: 7.5px;
  padding-right: 7.5px;
  width: 100%;
  float: left;
}

.block-grid {
  display: block;
  padding: 0;
  margin: 0 -10px;
}

.block-grid:before, .block-grid:after {
  content: " ";
  display: table;
}

.block-grid:after {
  clear: both;
}

.block-grid > * {
  display: block;
  float: left;
  height: auto;
  padding: 0 7.5px 20px;
}

.block-grid-1 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-1 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-1 > * {
  list-style: none;
  width: 100%;
}

.block-grid-1 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-1 > *:nth-of-type(1n+1) {
  clear: both;
}

.block-grid-2 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-2 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-2 > * {
  list-style: none;
  width: 50%;
}

.block-grid-2 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-2 > *:nth-of-type(2n+1) {
  clear: both;
}

.block-grid-3 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-3 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-3 > * {
  list-style: none;
  width: 33.33333%;
}

.block-grid-3 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-3 > *:nth-of-type(3n+1) {
  clear: both;
}

.block-grid-4 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-4 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-4 > * {
  list-style: none;
  width: 25%;
}

.block-grid-4 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-4 > *:nth-of-type(4n+1) {
  clear: both;
}

.block-grid-5 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-5 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-5 > * {
  list-style: none;
  width: 20%;
}

.block-grid-5 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-5 > *:nth-of-type(5n+1) {
  clear: both;
}

.block-grid-6 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-6 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-6 > * {
  list-style: none;
  width: 16.66667%;
}

.block-grid-6 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-6 > *:nth-of-type(6n+1) {
  clear: both;
}

.block-grid-7 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-7 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-7 > * {
  list-style: none;
  width: 14.28571%;
}

.block-grid-7 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-7 > *:nth-of-type(7n+1) {
  clear: both;
}

.block-grid-8 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-8 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-8 > * {
  list-style: none;
  width: 12.5%;
}

.block-grid-8 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-8 > *:nth-of-type(8n+1) {
  clear: both;
}

.block-grid-9 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-9 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-9 > * {
  list-style: none;
  width: 11.11111%;
}

.block-grid-9 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-9 > *:nth-of-type(9n+1) {
  clear: both;
}

.block-grid-10 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-10 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-10 > * {
  list-style: none;
  width: 10%;
}

.block-grid-10 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-10 > *:nth-of-type(10n+1) {
  clear: both;
}

.block-grid-11 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-11 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-11 > * {
  list-style: none;
  width: 9.09091%;
}

.block-grid-11 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-11 > *:nth-of-type(11n+1) {
  clear: both;
}

.block-grid-12 {
  display: block;
  padding: 0;
  margin: 0 -7.5px;
}

.block-grid-12 > * {
  display: block;
  float: left;
  height: auto;
}

.block-grid-12 > * {
  list-style: none;
  width: 8.33333%;
}

.block-grid-12 > *:nth-of-type(n) {
  clear: none;
}

.block-grid-12 > *:nth-of-type(12n+1) {
  clear: both;
}

.block-grid-center {
  text-align: center;
}

.block-grid-center > * {
  float: none;
  display: inline-block;
}

.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-box > * {
  height: auto;
  padding: 0 7.5px 20px;
  list-style: none;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
}

.flex-box-1 > * {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
}

.flex-box-2 > * {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: 50%;
}

.flex-box-3 > * {
  -webkit-flex: 1 1 33.33333%;
  flex: 1 1 33.33333%;
  max-width: 33.33333%;
}

.flex-box-4 > * {
  -webkit-flex: 1 1 25%;
  flex: 1 1 25%;
  max-width: 25%;
}

.flex-box-5 > * {
  -webkit-flex: 1 1 20%;
  flex: 1 1 20%;
  max-width: 20%;
}

.flex-box-6 > * {
  -webkit-flex: 1 1 16.66667%;
  flex: 1 1 16.66667%;
  max-width: 16.66667%;
}

.flex-box-7 > * {
  -webkit-flex: 1 1 14.28571%;
  flex: 1 1 14.28571%;
  max-width: 14.28571%;
}

.flex-box-8 > * {
  -webkit-flex: 1 1 12.5%;
  flex: 1 1 12.5%;
  max-width: 12.5%;
}

.flex-box-9 > * {
  -webkit-flex: 1 1 11.11111%;
  flex: 1 1 11.11111%;
  max-width: 11.11111%;
}

.flex-box-10 > * {
  -webkit-flex: 1 1 10%;
  flex: 1 1 10%;
  max-width: 10%;
}

.flex-box-11 > * {
  -webkit-flex: 1 1 9.09091%;
  flex: 1 1 9.09091%;
  max-width: 9.09091%;
}

.flex-box-12 > * {
  -webkit-flex: 1 1 8.33333%;
  flex: 1 1 8.33333%;
  max-width: 8.33333%;
}

.flex-box-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/****************************************/
/************** CONTENT ****************/
.section-header .header-top {
  background-color: #5ea4e0;
  padding: 10px 0;
  margin-bottom: 1px;
}

.section-header .header-top .column {
  max-width: 840px;
  float: right;
}

.section-header .header-top .logo {
  display: inline-block;
  vertical-align: top;
}

.section-header .header-top .title-website {
  display: inline-block;
  color: #fff;
  font-family: "elle-bold";
  font-size: 39px;
  line-height: 1;
  margin-left: 45px;
  padding-top: 5px;
  margin-bottom: 0;
}

.section-header .header-top .title-website span {
  display: block;
  text-align: center;
  font-family: "elle-heavyitalic";
  font-size: 20px;
  line-height: 1.4;
}

.section-header .header-search {
  display: inline-block;
  margin-left: 65px;
  vertical-align: top;
  padding-top: 15px;
  position: relative;
}

.section-header .header-search .dropdown-signin {
  display: none;
  width: 250px;
  position: absolute;
  right: 0;
  padding: 8px 10px;
  z-index: 9090;
  background-color: #fff;
  border-bottom: 3px solid #cccccc;
}

.section-header .header-search .dropdown-signin:after {
  content: "";
  width: 65px;
  background-color: #e2bc20;
  height: 2px;
  position: absolute;
  right: 0;
  top: -2px;
}

.section-header .header-search .dropdown-signin input[type="text"] {
  margin-bottom: 10px;
}

.section-header .header-search .dropdown-signin input[type="text"], .section-header .header-search .dropdown-signin input[type="password"] {
  padding: 6px 10px;
  border-left: 3px solid #e2bc20;
  background-color: #ebebeb;
}

.section-header .header-search .dropdown-submit {
  overflow: hidden;
  margin-bottom: 5px;
}

.section-header .header-search .dropdown-submit label {
  font-size: 12px;
  color: #000;
  padding-left: 20px;
  line-height: 1;
  margin: 0;
}

.section-header .header-search .dropdown-submit .custom-checkbox {
  display: inline-block;
  padding-top: 5px;
}

.section-header .header-search .dropdown-submit input[type="submit"] {
  display: inline-block;
  padding: 4px 5px;
  text-transform: none;
  background-color: #ebebeb;
  color: #999999;
  float: right;
  border-bottom: 3px solid #e2bc20;
}

.section-header .header-search .dropdown-submit input[type="submit"]:hover {
  color: #5ea4e0;
}

.section-header .header-search ul {
  text-align: right;
  list-style: none;
  margin-bottom: 10px;
}

.section-header .header-search ul li {
  margin-left: 0;
  display: inline-block;
}

.section-header .header-search ul a {
  color: #fff;
  font-size: 10px;
  font-family: "elle-medium";
  text-transform: uppercase;
}

.section-header .header-search ul span {
  color: #fff;
  font-size: 10px;
  font-family: "elle-medium";
  display: inline-block;
  margin-left: 5px;
}

.section-header .header-search-main {
  position: relative;
  margin-bottom: 0;
}

.section-header .header-search-main input[type="text"] {
  border: 1px solid #d8d8d8;
  padding: 6px 30px 6px 10px;
  color: #000000;
  font-family: "elle-italic";
  width: 230px;
  background: url(../images/icon_search.png) no-repeat scroll 0 0 #fff;
  background-position: calc(100% - 10px) 8px;
}

.section-header .header-search-main input[type="submit"] {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: none;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  color: #fff;
  background-color: #5ea4e0;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "elle-medium";
}

.section-header .header-search-main input[type="submit"]:hover {
  background-color: #0a6abd;
}

.section-header .header-search-main .advance-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  z-index: 9999;
  display: none;
  border: 1px solid #d8d8d8;
}

.section-header .header-search-main .advance-form ul {
  text-align: left;
  margin-bottom: 15px;
}

.section-header .header-search-main .advance-form ul:before, .section-header .header-search-main .advance-form ul:after {
  content: " ";
  display: table;
}

.section-header .header-search-main .advance-form ul:after {
  clear: both;
}

.section-header .header-search-main .advance-form li {
  float: left;
  width: 50%;
}

.section-header .header-search-main .advance-form li:last-child {
  text-align: right;
}

.section-header .header-search-main .advance-form label {
  margin-bottom: 0;
}

.section-header .header-menu {
  border-bottom: 1px solid #5ea4e0;
  margin-bottom: 1px;
}

.section-header .header-menu .menu {
  list-style: none;
  margin-bottom: 0;
}

.section-header .header-menu .menu li {
  display: inline-block;
  margin-left: 0;
}

.section-header .header-menu .menu > li {
  position: relative;
}

.section-header .header-menu .menu > li:last-child a {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 0;
}

.section-header .header-menu .menu > li:hover .link-home {
  background-color: transparent;
}

.section-header .header-menu .menu > li:hover > a {
  background-color: #5ea4e0;
  color: #fff;
}

.section-header .header-menu .menu a {
  font-size: 17px;
  font-family: "elle-bold";
  color: #000;
  text-transform: uppercase;
  padding: 4px 50px 6px 10px;
  display: block;
  line-height: 1.25;
}

.section-header .header-menu .menu a:hover {
  background-color: #5ea4e0;
  color: #fff;
  text-decoration: none;
}

.section-header .header-menu .menu .link-mb-login {
  display: none;
}

.section-header .header-menu .menu .link-home {
  padding: 0;
  margin-right: 10px;
  margin-left: 0;
}

.section-header .header-menu .menu .link-home img {
  vertical-align: top;
}

.section-header .header-menu .menu .link-home:hover {
  background-color: transparent;
}

.section-header .header-menu .sub-menu {
  display: none;
  position: absolute;
  z-index: 9900;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px 10px 5px;
  width: 100%;
  min-width: 130px;
  background-color: #fff;
  border-bottom: 4px solid #cccccc;
}

.section-header .header-menu .sub-menu a {
  font-size: 12px;
  color: #000;
  font-family: "elle-medium";
  text-transform: none;
  padding: 0;
  margin-bottom: 5px;
  margin-left: 10px;
  display: block;
}

.section-header .header-menu .sub-menu a:hover {
  background-color: transparent;
  color: #5ea4e0;
}

.section-header .header-menu .sub-menu .sub-item-parent {
  font-size: 11px;
  color: #5ea4e0;
  font-family: "elle-medium";
  text-transform: uppercase;
  display: block;
  margin-bottom: 3px;
}

.section-header .header-menu .sub-menu a.sub-item-parent {
  padding: 5px 0;
  margin: 0;
  border-top: 1px solid #dddddd;
}

@media screen and (min-width: 48em) {
  .section-header .header-menu .menu > li:hover .sub-menu {
    display: block;
  }
}

@media screen and (max-width: 64em) {
  .section-header .header-top .column {
    max-width: 768px;
    margin: 0 auto;
    float: none;
  }
  .section-header .header-top .title-website {
    margin-left: 30px;
  }
  .section-header .header-top .header-search {
    margin-left: 30px;
  }
  .section-header .header-top .header-search input[type="text"] {
    width: 200px;
  }
  .section-header .header-menu .menu .link-home {
    margin-right: 0;
  }
  .section-header .header-menu .menu > li:last-child a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .section-header .header-menu .menu a {
    padding: 5px 5px 6px 5px;
    font-size: 14px;
  }
  .section-header .header-menu .menu .sub-menu a {
    font-size: 12px;
    padding: 0;
  }
}

@media screen and (max-width: 47.9375em) {
  .section-header {
    margin-bottom: 10px;
  }
  .section-header .header-top .column {
    max-width: 320px;
  }
  .section-header .header-top .title-website {
    margin-left: 5px;
    padding-top: 15px;
    font-size: 21px;
  }
  .section-header .header-top .title-website span {
    font-size: 15px;
  }
  .section-header .header-top .header-search {
    display: none;
  }
  .section-header .header-menu {
    text-align: left;
    padding: 5px 0;
  }
  .section-header .header-menu .menu {
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    left: 0;
    width: 100%;
    z-index: 9099;
    padding: 0 20px 10px;
    background-color: #fff;
    border-bottom: 3px solid #ccc;
  }
  .section-header .header-menu .menu li {
    display: block;
  }
  .section-header .header-menu .menu li:first-child {
    display: none;
  }
  .section-header .header-menu .menu li:not(:last-child) {
    padding: 10px 0;
    border-bottom: 2px solid #dddddd;
  }
  .section-header .header-menu .menu li:last-child a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-header .header-menu .menu li:hover > a {
    background-color: transparent;
    color: #5ea4e0;
  }
  .section-header .header-menu .menu a {
    font-size: 18px;
    color: #5ea4e0;
  }
  .section-header .header-menu .menu .link-mb-login {
    display: block;
  }
  .section-header .header-menu .menu .sub-menu {
    position: relative;
    padding-top: 0;
    width: auto;
    text-align: left;
    border-bottom: none;
    display: none;
    padding-left: 30px;
  }
  .section-header .header-menu .menu .sub-menu a {
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .section-header .header-menu .menu .sub-menu .sub-item-parent {
    font-size: 15px;
    border: none;
    margin-bottom: 5px;
  }
  .section-header .search-mobile {
    float: left;
    width: 250px;
  }
  .section-header .search-mobile-content {
    position: relative;
  }
  .section-header .search-mobile-content input[type="text"] {
    border: 1px solid #d8d8d8;
    background-color: #fff;
    padding: 5px 10px;
    color: #000000;
    font-family: "elle-italic";
    width: 100%;
  }
  .section-header .search-mobile-content input[type="submit"] {
    width: 30px;
    height: 33px;
    background: url(../images/icon_search.png) no-repeat scroll center transparent;
    border: none;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }
  .section-header .search-mobile-content .advance-form {
    display: none;
    padding: 10px 0;
  }
  .section-header .search-mobile-content .advance-form label {
    margin-bottom: 0;
  }
  .section-header .search-mobile-content .advance-form ul {
    list-style: none;
  }
  .section-header .search-mobile-content .advance-form ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .section-header .search-mobile-content .advance-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 5px 0;
    border: none;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    position: relative;
    height: auto;
    text-indent: 0;
    color: #fff;
    background-color: #5ea4e0;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "elle-medium";
  }
  .section-header .search-mobile-content .advance-form input[type="submit"]:hover {
    background-color: #0a6abd;
  }
  .section-header .menu-mobile {
    float: right;
    padding-top: 6px;
  }
  .section-header .menu-mobile-open {
    width: 28px;
    height: 20px;
    background: url(../images/icon_menu_mobile.png) no-repeat scroll 0 0 transparent;
    display: block;
  }
}

.section-footer {
  background-color: #ebebeb;
  padding: 10px 0 15px;
}

.section-footer h5 {
  font-size: 15px;
  color: #5ea4e0;
  margin-bottom: 5px;
}

.section-footer h5 span {
  color: #000;
}

.section-footer .info p {
  margin-bottom: 0;
  color: #575757;
  font-family: "elle-medium";
  font-size: 12px;
}

.section-footer .info p a {
  font-size: 100%;
  color: inherit;
  text-decoration: underline;
}

.cat-news {
  margin-bottom: 45px;
}

.cat-news figure {
  float: right;
  padding: 0 0 0 50px;
  margin: 0;
  width: 75%;
}

.cat-news .content {
  float: left;
  width: 25%;
}

.cat-news .tag-cat {
  color: #fff;
  text-transform: uppercase;
  background-color: #5ea4e0;
  padding: 3px 5px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 60px;
}

.cat-news .tag-cat:hover {
  text-decoration: none;
}

.cat-news .tag-cat-mb {
  display: none;
}

.cat-news .title {
  display: block;
  font-size: 25.4px;
  line-height: 1.25;
  color: #000;
  text-transform: uppercase;
  font-family: "elle-bolditalic";
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #5ea4e0;
}

.cat-news .desc {
  margin-bottom: 30px;
}

.readmore {
  text-align: right;
}

.readmore a {
  font-size: 13px;
  color: #5ea4e0;
  font-family: "elle-medium";
  display: inline-block;
  text-transform: uppercase;
}

.readmore i {
  margin-left: 5px;
}

.container-main {
  padding-bottom: 40px;
}

.container-main .main-left {
  width: calc(100% - 300px);
  padding-right: 20px;
}

.container-main .main-sidebar {
  width: 300px;
  padding-left: 20px;
}

.container-main .cat-item-name {
  font-size: 17.6px;
  text-transform: uppercase;
  color: #000;
  display: block;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 7px;
  font-family: "elle-medium";
  border-bottom: 2px solid #5ea4e0;
}

.container-main .cat-item:last-child .cat-item-content {
  margin-bottom: 0;
}

.container-main .cat-item-content {
  margin-bottom: 30px;
}

.container-main .cat-item-content:before, .container-main .cat-item-content:after {
  content: " ";
  display: table;
}

.container-main .cat-item-content:after {
  clear: both;
}

.container-main .cat-item-content .cat-item-first {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.container-main .cat-item-content .cat-item-first a {
  font-size: 23px;
  font-family: "elle-bold";
  display: block;
  margin-bottom: 15px;
  color: #000;
  text-transform: uppercase;
  line-height: 1.25;
}

.container-main .cat-item-content .cat-item-first img {
  display: block;
  margin-bottom: 10px;
}

.container-main .cat-item-content .cat-item-first .desc-item {
  margin-bottom: 0;
}

.container-main .cat-item-content .cat-item-list {
  float: left;
  width: 50%;
  padding-left: 10px;
}

.container-main .cat-item-content .cat-item-list .item:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
}

.container-main .cat-item-content .cat-item-list .title {
  color: #000;
  font-family: "elle-medium";
  font-size: 14px;
  display: block;
  line-height: 1.25;
  margin-bottom: 10px;
}

.container-main .cat-item-content .cat-item-list .time {
  font-size: 10px;
  color: #a1a1a1;
  display: block;
  font-family: "elle-regular";
}

.container-main .cat-item-content .cat-item-list .readmore {
  margin-top: 35px;
}

.container-main .sidebar-item {
  margin-bottom: 45px;
}

.container-main .sidebar-item .header-sidebar {
  color: #523f1f;
  font-family: "elle-bold";
  font-size: 15px;
  display: block;
  margin: 0 0 17px;
  padding: 0 0 9px;
  border-bottom: 2px solid #5ea4e0;
  text-transform: uppercase;
  text-align: center;
}

.container-main .sidebar-item .slide-magazine {
  text-align: center;
  max-width: 210px;
  margin: 0 auto;
}

.container-main .sidebar-item .slide-magazine img {
  margin: 0 0 15px;
}

.container-main .sidebar-item .slide-magazine .link-download {
  color: #fff;
  font-family: "elle-bold";
  font-size: 17px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #5ea4e0;
  padding: 3px 15px 5px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  line-height: 1.25;
}

.container-main .sidebar-item .slide-magazine .link-download:hover {
  text-decoration: none;
  background-color: #0a6abd;
}

.container-main .sidebar-item .slide-magazine .owl-nav div {
  position: absolute;
  top: 50%;
  margin-top: -40px;
}

.container-main .sidebar-item .slide-magazine .owl-nav div:before {
  content: "";
  position: absolute;
}

.container-main .sidebar-item .slide-magazine .owl-nav .owl-prev {
  left: -30px;
}

.container-main .sidebar-item .slide-magazine .owl-nav .owl-prev:before {
  border: none;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-right: 9px solid #5ea4e0;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  border-right-width: 11px;
}

.container-main .sidebar-item .slide-magazine .owl-nav .owl-next {
  right: -20px;
}

.container-main .sidebar-item .slide-magazine .owl-nav .owl-next:before {
  border: none;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-left: 9px solid #5ea4e0;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  border-left-width: 11px;
}

.container-main .sidebar-item .slide-magazine .content {
  margin: 0 0 15px;
}

.container-main .sidebar-item .slide-magazine .content span {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-family: "elle-italic";
}

.container-main .sidebar-item .slide-magazine .content .text {
  padding-top: 10px;
  padding-right: 5px;
}

.container-main .sidebar-item .slide-magazine .content .number {
  font-size: 35px;
  color: #5ea4e0;
  font-family: "elle-bold";
}

.container-main .sidebar-item .slide-magazine .content .time {
  width: 115px;
}

.container-main .sidebar-item .slide-magazine .content .time .date {
  font-family: "elle-bolditalic";
}

.container-main .sidebar-item .list-news {
  list-style: none;
  margin: 0 20px 0 40px;
}

.container-main .sidebar-item .list-news li {
  position: relative;
}

.container-main .sidebar-item .list-news li:before {
  position: absolute;
  content: "";
  background-color: #5ea4e0;
  width: 11px;
  height: 11px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  left: -25px;
  top: 3px;
}

.container-main .sidebar-item .list-news li:not(:last-child) {
  margin-bottom: 15px;
}

.container-main .sidebar-item .list-news a {
  font-family: "elle-regular";
  color: #010101;
  font-size: 14px;
  line-height: 0;
}

.container-main .sidebar-item .sidebar-photo-content img {
  margin-bottom: 10px;
  display: block;
}

.container-main .sidebar-item .sidebar-photo-content .desc-photo {
  padding: 0 20px;
  font-size: 15px;
  font-family: "elle-medium";
  color: #000;
}

.container-main .sidebar-item .sidebar-photo-content .desc-photo span {
  display: block;
  font-size: 12px;
  font-family: "elle-lightitalic";
  margin-top: 3px;
}

.container-main .sidebar-video .header-sidebar, .container-main .sidebar-photo .header-sidebar {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.container-main .pagination {
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
}

.container-main .pagination ul {
  list-style: none;
  margin: 0;
}

.container-main .pagination ul li {
  display: inline-block;
}

.container-main .pagination ul li.pager-next, .container-main .pagination ul li.pager-last {
  display: none;
}

.container-main .pagination ul .pager-current {
  font-size: 21px;
  background-color: #5ea4e0;
  color: #fff;
  font-family: "elle-heavy";
  padding: 2px 3px 5px;
}

.container-main .pagination ul a {
  color: #bbbbbb;
  font-size: 21px;
  font-family: "elle-heavy";
  padding: 2px 3px 5px;
  display: block;
}

.container-main .pagination ul a:hover {
  background-color: #5ea4e0;
  color: #fff;
  text-decoration: none;
}

.container-main .pagination ul span {
  font-size: 21px;
  color: #bbbbbb;
  font-family: "elle-heavy";
}

@media screen and (max-width: 64em) {
  .cat-news figure {
    padding-left: 30px;
  }
  .cat-news .tag-cat {
    margin-top: 20px;
  }
  .cat-news .title {
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .cat-news .desc {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 47.9375em) {
  .cat-news {
    margin-bottom: 0;
  }
  .cat-news figure {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .cat-news .tag-cat {
    display: none;
  }
  .cat-news .tag-cat-mb {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .cat-news .title {
    font-size: 19px;
    border-bottom: none;
  }
  .cat-news .content {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #5ea4e0;
  }
  .container-main .cat-item:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #5ea4e0;
  }
  .container-main .main-left {
    width: 100%;
    padding: 0 7.5px;
  }
  .container-main .main-sidebar {
    display: none;
  }
  .container-main .cat-item-content {
    margin-bottom: 0;
  }
  .container-main .cat-item-content .cat-item-first {
    width: 100%;
    float: none;
    padding-right: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
  }
  .container-main .cat-item-content .cat-item-first img {
    width: 100%;
  }
  .container-main .cat-item-content .cat-item-first .desc-item {
    margin-bottom: 20px;
  }
  .container-main .cat-item-content .cat-item-first .readmore a {
    font-size: 13px;
    margin-bottom: 5px;
    color: #5ea4e0;
  }
  .container-main .cat-item-content .cat-item-list {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .container-main .cat-item-content .cat-item-list .readmore {
    display: none;
  }
  .container-main .cat-item-name {
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .container-main .pagination {
    display: none;
  }
}

.section-cms-page .container-main {
  padding-top: 10px;
}

.section-cms-page .main-left {
  padding-top: 40px;
}

.section-cms-page .title-page {
  color: #5ea4e0;
  font-size: 31.5px;
  line-height: 1;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.section-cms-page .table-cms .head-child {
  font-size: 19px;
  color: #5ea4e0;
  font-family: "elle-bold";
}

.section-cms-page .table-cms .table-head {
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 10px;
}

.section-cms-page .table-cms .table-head:before, .section-cms-page .table-cms .table-head:after {
  content: " ";
  display: table;
}

.section-cms-page .table-cms .table-head:after {
  clear: both;
}

.section-cms-page .table-cms .table-head > div {
  float: left;
  width: 33.3333%;
}

.section-cms-page .table-cms .table-head > div:last-child {
  text-align: right;
}

.section-cms-page .table-cms .table-row:before, .section-cms-page .table-cms .table-row:after {
  content: " ";
  display: table;
}

.section-cms-page .table-cms .table-row:after {
  clear: both;
}

.section-cms-page .table-cms .table-row:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}

.section-cms-page .table-cms .table-row > div {
  float: left;
  width: 33.3333%;
  padding: 10px 10px 10px 0;
  font-size: 15px;
  font-family: "elle-medium";
}

.section-cms-page .table-cms .table-row > div:last-child {
  text-align: right;
  padding-right: 20px;
}

.section-cms-page .table-2-column .table-row > div {
  width: auto;
}

.section-cms-page .table-2-column .table-row > div:first-child {
  max-width: calc(100% - 140px);
  line-height: 1.35;
}

.section-cms-page .table-2-column .table-row > div:last-child {
  float: right;
  text-align: left;
  padding-right: 0;
}

.section-cms-page .table-2-column .table-row .link-down {
  background-color: #5ea4e0;
  padding: 2px 40px 5px;
  color: #fff;
  font-size: 17px;
  display: block;
  font-family: "elle-bold";
}

.section-cms-page .table-2-column .table-row .link-down:hover {
  background-color: #0a6abd;
  text-decoration: none;
}

.section-cms-page .main-content p {
  font-size: 20px;
}

.section-register .section-form .line {
  width: 100%;
  margin: 0 0 20px;
  height: 1px;
  background-color: #ebebeb;
}

.section-register .section-item {
  max-width: 65%;
  margin-bottom: 20px;
}

.section-register .section-item:before, .section-register .section-item:after {
  content: " ";
  display: table;
}

.section-register .section-item:after {
  clear: both;
}

.section-register .section-item .label {
  display: inline-block;
  text-align: right;
  width: 130px;
  font-size: 15px;
  font-family: "elle-medium";
  vertical-align: middle;
  margin-top: -5px;
}

.section-register .section-item .field-register {
  display: inline-block;
  padding-left: 10px;
  width: calc(100% - 140px);
}

.section-register .section-item input[type="text"], .section-register .section-item input[type="password"] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.section-register .section-item-sex .label {
  vertical-align: top;
  margin-top: 0;
}

.section-register .section-item-sex ul {
  list-style: none;
  margin-bottom: 0;
}

.section-register .section-item-sex ul label {
  margin-bottom: 0;
  font-size: 15px;
}

.section-register .section-item-sex li {
  display: inline-block;
}

.section-register .section-item-sex li:not(:last-child) {
  margin-right: 30px;
}

.section-register .section-item-dob ul {
  list-style: none;
  margin-bottom: 0;
}

.section-register .section-item-dob li {
  display: inline-block;
}

.section-register .section-item-dob li:not(:last-child) {
  margin-right: 10px;
}

.section-register .section-item-dob input[type="text"] {
  width: 60px;
  display: inline-block;
}

.section-register .section-item-dob .splash {
  display: inline-block;
  padding-left: 10px;
  font-size: 27px;
  vertical-align: top;
}

.section-register .section-item-captcha {
  margin-bottom: 40px;
}

.section-register .section-item-agree {
  margin-bottom: 25px;
  padding-left: 148px;
}

.section-register .section-item-agree label {
  font-size: 15px;
}

.section-register .section-item-submit {
  padding-left: 148px;
}

.section-register .section-item-submit input[type="submit"] {
  font-size: 23px;
  color: #fff;
  background-color: #5ea4e0;
  text-transform: uppercase;
  font-family: "elle-bold";
  line-height: 1;
  padding: 8px 20px 10px;
}

.section-register .section-item-submit input[type="submit"]:hover {
  background-color: #0a6abd;
}

.section-sendfile .section-item .label {
  vertical-align: top;
  margin-top: 0;
}

.section-sendfile .section-item-submit {
  margin-top: 75px;
}

.section-account .title-page {
  margin-bottom: 15px;
}

.section-account .text-welcome {
  font-size: 19px;
  color: #000;
  display: block;
  font-family: "elle-bold";
  margin-bottom: 60px;
}

.section-account .text-welcome a {
  color: #5ea4e0;
  font-size: 19px;
}

.section-account .table-cms {
  margin-bottom: 20px;
}

.section-account .table-cms .table-head > div:last-child {
  text-align: right;
  padding-right: 20px;
}

.section-account .table-cms .table-row > div {
  word-break: break-all;
}

.section-account .table-cms .table-row > div:last-child {
  padding-right: 60px;
}

.section-account .table-cms label {
  margin: 0 0 13px;
}

.section-account .table-button {
  text-align: right;
  border-top: 1px solid #ebebeb;
  padding-top: 15px;
}

.section-account .table-button .button-delete {
  font-size: 19px;
  color: #fff;
  font-family: "elle-bold";
  background-color: #5ea4e0;
  padding: 2px 45px 5px;
  border: none;
  display: inline-block;
}

.section-news .container-news .title-news-first {
  font-size: 38px;
  font-family: "elle-bold";
  color: #000;
  line-height: 1.25;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.section-news .container-news-first {
  margin-bottom: 70px;
}

.section-news .container-news-first p {
  font-size: 20px;
}

.section-news .news-related .head-related {
  color: #5ea4e0;
  font-size: 31.5px;
  line-height: 1;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #5ea4e0;
  text-transform: uppercase;
}

.section-news .news-related-content .news-related-item:not(:last-child) {
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.section-news .news-related-content .title-related {
  font-size: 23px;
  font-family: "elle-medium";
  color: #000;
  display: block;
  max-width: 70%;
  margin-bottom: 15px;
  line-height: 1.3;
}

.section-news .news-related-content .time-related {
  font-size: 13px;
  color: #a1a1a1;
  display: block;
  font-family: "elle-regular";
}

.section-news-detail .img-news-detail {
  margin-bottom: 20px;
}

.section-news-detail .main-left {
  padding-top: 0;
}

.section-news-detail .container-news-first {
  margin-bottom: 20px;
}

.section-news-detail .info-author {
  margin-bottom: 30px;
}

.section-news-detail .info-author figure {
  margin: 0;
  display: inline-block;
  width: 40%;
}

.section-news-detail .info-author .content-info-author {
  display: inline-block;
  vertical-align: bottom;
  width: 55%;
  padding-left: 20px;
}

.section-news-detail .info-author .content-info-author h5 {
  color: #5ea4e0;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.section-news-detail .info-author .content-info-author .name-author {
  font-size: 39px;
  text-transform: uppercase;
  color: #5ea4e0;
  margin-bottom: 5px;
}

.section-news-detail .info-author .content-info-author span {
  font-family: "elle-bold";
  font-size: 13px;
  color: #000;
  display: block;
  margin-bottom: 5px;
}

.section-news-detail .header-author {
  color: #5ea4e0;
  font-size: 20px;
  text-transform: uppercase;
}

.section-gallery .title-page {
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 30px;
}

.section-gallery .container-gallery ul > li {
  padding-bottom: 30px;
}

.section-gallery .container-gallery .image-gallery {
  display: block;
  margin-bottom: 10px;
}

.section-gallery .container-gallery .image-gallery img {
  width: 100%;
}

.section-gallery .container-gallery .name-gallery {
  color: #5ea4e0;
  font-size: 17px;
  display: inline-block;
  margin-bottom: 10px;
  font-family: "elle-bold";
}

.section-gallery .container-gallery .time-gallery {
  font-size: 17px;
  color: #000;
  display: block;
  font-family: "elle-medium";
}

@media screen and (max-width: 64em) {
  .section-cms-page .main-left {
    padding-right: 0;
  }
  .section-register .section-item {
    max-width: 100%;
  }
  .section-register .section-item-sex li:not(:last-child) {
    margin-right: 10px;
  }
  .section-news .news-related-content .title-related {
    max-width: 100%;
  }
  .section-news-detail .info-author {
    margin-bottom: 30px;
  }
  .section-news-detail .info-author .content-info-author .name-author {
    font-size: 25px;
  }
}

@media screen and (max-width: 47.9375em) {
  .section-cms-page .main-left {
    padding-top: 0;
    padding-right: 7.5px;
  }
  .section-cms-page .title-page {
    font-size: 23px;
  }
  .section-cms-page .table-cms .head-child {
    font-size: 14px;
  }
  .section-register .section-item .label {
    width: 100%;
    float: none;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
  }
  .section-register .section-item .field-register {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .section-register .section-item-agree, .section-register .section-item-submit {
    padding-left: 0;
  }
  .section-account .table-cms .table-head > div:last-child {
    padding-right: 0;
  }
  .section-account .table-cms .table-row > div:last-child {
    padding-right: 30px;
  }
  .section-news .container-news .title-news-first {
    font-size: 20px;
  }
  .section-news .container-news .pagination {
    display: block;
  }
  .section-news-detail .info-author figure {
    width: 100%;
    margin: 0 0 10px;
  }
  .section-news-detail .info-author figure img {
    width: auto;
  }
  .section-news-detail .info-author .content-info-author {
    width: 100%;
    padding-left: 0;
  }
  .section-gallery .container-gallery ul li {
    width: calc(100% / 2);
  }
  .section-gallery .container-gallery ul li:nth-of-type(3n+1) {
    clear: none;
  }
  .section-gallery .container-gallery ul li:nth-of-type(2n+1) {
    clear: both;
  }
}

/***************************************/
/************** OTHER *****************/
/***************************************/

/*# sourceMappingURL=style.css.map */
