@import "process.css";
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bwouyq');
  src:  url('../fonts/icomoon.eot?bwouyq#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?bwouyq') format('truetype'),
  url('../fonts/icomoon.woff?bwouyq') format('woff'),
  url('../fonts/icomoon.svg?bwouyq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

#breadcrumb{
  padding: 20px 10px;
}
h1#page-title {
  display: none;
}
#tasks{
  display: none;
}
.page-node #tasks {
  position: fixed;
  left: 0;
  top: 35%;
  z-index: 1000;
  width: 10%;
  display: none;
}
@media (max-width: 760px) {
  .page-node #tasks {
    display: none;
  }
  .page-taxonomy #tasks {
    display: none;
  }
  .page-user #tasks {
    display: none;
  }
}
.page-node #tasks ul.primary {
  border: 0px solid #ddd;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}
.page-node #tasks .tabs > li {
  float: none;
  margin: 0px;
}
.page-node #tasks .tabs > li a {
  padding: 5px 10px;
  border-radius: 0;
  display: block;
  width: 100%;
}

.page-taxonomy #tasks {
  position: fixed;
  left: 0;
  top: 35%;
  z-index: 1000;
  width: 10%;
}
.page-taxonomy #tasks ul.primary {
  border: 0px solid #ddd;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}
.page-taxonomy #tasks .tabs > li {
  float: none;
  margin: 0px;
}
.page-taxonomy #tasks .tabs > li a {
  padding: 5px 10px;
  border-radius: 0;
  display: block;
  width: 100%;
}

.page-user #tasks {
  position: fixed;
  left: 0;
  top: 35%;
  z-index: 1000;
  width: 10%;
  display: none;
}
.page-user #tasks ul.primary {
  border: 0px solid #ddd;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}
.page-user #tasks .tabs > li {
  float: none;
  margin: 0px;
}
.page-user #tasks .tabs > li a {
  padding: 5px 10px;
  border-radius: 0;
  display: block;
  width: 100%;
}
.custom-hidden {
  display: none;
}
#skip-link{
  display: none;
}

#quick-login-iframe{
  position: absolute;
  top:-1000px;
  width:0px;
  height: 0px;
  visibility: hidden;
}
.form-item{
  margin: 0px;
}
#messages .error{
  display: none;
}
div.messages-inline{
  font-family: 'elle-medium';
  border:0px none;
  background-color: transparent;
}
.form-note{
  padding-top: 5px;
  display: inline-block;
  font-family: 'elle-medium';
  font-size:12px;
}
.table-head .chose-all{
  cursor: pointer;
}
li.statistics_counter{
  display: none!important;
}
.pagination .item-list .pager{
  text-align: right;
}
.pagination .item-list ul li{
  margin: 0px;
}
.container-main .pagination ul li.pager-previous, .container-main .pagination ul li.pager-first{
  display: none;
}

.page-search-result .news-related .time-related{
  margin-bottom: 15px;
}

.section-cms-page .table-my-project-list .table-head > div{
width: 16.6%;
}
.section-cms-page .table-my-project-list .table-row > div{
  width: 16.6%;
}

.section-cms-page .table-5-column .table-head > div{
  width: 20%;
}
.section-cms-page .table-5-column .table-row > div{
  width: 20%;
}

.section-post-project .section-item{
  max-width: 100%;
}
.section-post-project #edit-content-format{
  display: none;
}
.section-post-project #switch_edit-content-value{
  display: none!important;
}
.section-post-project .btn-got-more-code{
  padding: 6px 16px 8px 15px;
  border:1px solid rgb(216, 216, 216);
}

.section-register .section-item{
  max-width: 100%;
}
.section-register #edit-content-format{
  display: none;
}
.section-register #switch_edit-content-value{
  display: none!important;
}
.region-sidebar-first{
  margin-left: 0px!important;
}

.section-header .header-search ul span{
  font-size: 9px;
}

.page-no-sidebar{

}
.page-no-sidebar .main-left{
  width:100%;
}
.page-no-sidebar .main-sidebar{
  display: none;
}
header,footer{
  /*display: none;*/
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-bin:before {
  content: "\e9ac";
}

.logo img{
  width: 60px;
}

.logo .logo-note{
  color: #FFF;
  display: block;
  font-size: 8px;
  margin-top: 5px;
  text-align: center;
}

.field-register .description-text{
  padding-top: 10px;
  font-size:12px;
}
.page-node-magazine-list .title-news-first .release-date{
  float: right;
  font-size: 14px;
}
.phanbien-list .node-summary{
  padding-left: 30px;
  padding-top: 10px;
}
.phanbien-list .node-summary .node-content,.phanbien-list .node-summary .node-download{
  padding-bottom: 20px;
}

.section-bbt-update-project .field-desc{
  padding: 10px 0px;
  line-height:20px;
}

.section-bbt-update-project .revision-list{
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
  padding-top: 10px;
}
.section-bbt-update-project .revision-list .revision-title-head{
  color: #5ea4e0;
  font-size: 31.5px;
  line-height: 1;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.section-bbt-update-project .revision-list .revision-item{
  padding-bottom: 10px;
}
.section-bbt-update-project .revision-list .revision-item div{
  padding-bottom: 5px;
}
.form-item-reason label{
  padding-bottom: 5px;
}