.page-no-sidebar .main-left {
  padding-right: 7.5px;
}
.section-header .header-search .notification-icon {
  display: none;
}
.btt-projects-list table {
  width: 100%;
}
.btt-projects-list table tr.table-head {
  border-bottom: 1px solid #ebebeb;
}
.btt-projects-list table tr.table-body {
  border-bottom: 1px solid #ebebeb;
}
.btt-projects-list table tr.table-head th {
  color: #5ea4e0;
  padding-bottom: 20px;
  font-family: "elle-bold";
}
.btt-projects-list table tr.table-body td {
  padding: 10px 0px;
}
.btt-projects-list table td {
  font-size: 12px;
}
.btt-projects-list td.node-title {
  width: 290px;
}
.btt-projects-list td.node-title a {
  color: #000000;
}
.btt-project-approved-list table td:first-child {
  width: 30%;
}
.btt-project-approved-list table td {
  width: 18%;
}
.section-bbt-update-project .section-item input[type="text"] {
  width: auto;
}
.section-bbt-update-project .section-item select {
  width: auto;
}
.section-bbt-update-project .section-item .form-checkboxes {
  width: 210px;
}
.section-bbt-update-project .section-item .label {
  width: 200px;
}
.section-bbt-update-project .section-item .field-register {
  width: 75%;
}
.section-bbt-update-project .section-item .form-type-checkbox label {
  margin: 0px;
}
.section-bbt-update-project .section-item #edit-review {
  height: 120px;
  overflow-y: auto;
}
.section-bbt-update-project .section-item .description {
  padding-top: 5px;
  font-size: 12px;
}
.section-bbt-update-project #edit-invite .fieldset-legend {
  font-size: 15px;
  font-family: "elle-medium";
  margin-bottom: 10px;
  display: inline-block;
}
.profile-top-menu {
  background: #5ea4e0;
  margin-bottom: 20px;
}
.profile-top-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.profile-top-menu ul li {
  display: inline-block;
  padding: 8px 15px;
  position: relative;
}
.profile-top-menu ul li a {
  font-family: "elle-regular";
  font-size: 18px;
  color: #fff;
}
.profile-top-menu ul li a.active {
  color: #000;
}
.section-account-information .profile-information .profile-item {
  font-size: 15px;
  margin-bottom: 20px;
}
.section-account-information .profile-information .profile-item span {
  font-family: "elle-bold";
}
.section-account-information .profile-information .profile-item .submit-button {
  font-size: 23px;
  color: #fff;
  background-color: #5ea4e0;
  text-transform: uppercase;
  font-family: "elle-bold";
  padding: 8px 20px 10px;
  border-radius: 5px;
  display: inline-block;
}
.section-update-profile .section-item .label {
  vertical-align: top;
}
.section-project-detail-page .project-detail-information .feedback-list .feedback-item {
  margin-top: 20px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}
.section-project-detail-page .project-detail-information .feedback-list .feedback-item .feedback-title {
  background: #ebebeb;
  padding: 8px 15px;
  margin-bottom: 5px;
}
.section-project-detail-page .tong-hop-phan-bien {
  float: right;
}
.section-project-detail-page .tong-hop-phan-bien a {
  color: #fff;
  font-family: "elle-bold";
  background: #5ea4e0;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
.feedback-item .feedback-title .sender {
  font-family: "elle-bold";
  color: #000;
  display: inline-block;
}
.feedback-item .feedback-title .date {
  color: #000;
  display: inline-block;
}
.section-project-detail-page .project-detail-information .feedback-list .feedback-item span {
  font-family: "elle-bold";
}
.section-bbt-update-project #btt-hinhthuc {
  display: none;
}
.section-bbt-update-project #btt-ta {
  display: none;
}
.section-bbt-update-project #chon-phan-bien {
  display: none;
}
.section-bbt-update-project #lydo-khongdang {
  display: none;
}
.section-author-account .left-side {
  width: 194px;
  float: left;
  background: #ebebeb;
}
.section-author-account .left-side .menu-list {
  padding: 10px 5px;
}
.section-author-account .left-side .menu-list ul {
  list-style: none;
}
.section-author-account .left-side .menu-list ul li a {
  font-family: "elle-bold";
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px;
  display: inline-block;
  color: #959595;
}
.section-author-account .left-side .menu-list ul li a.active {
  color: #5ea4e0;
  background: #fff;
  width: 100%;
  border-radius: 5px;
}
.section-author-account .right-side {
  margin-left: 194px;
}
.section-author-account .right-side .btt-projects-list th {
  padding-top: 16px;
}
.section-author-account .right-side .btt-projects-list th:first-child {
  padding-left: 15px;
}
.section-author-account .right-side .btt-projects-list td:first-child {
  padding-left: 15px;
}
.section-author-account .profile-top-menu {
  margin-bottom: 5px;
}
.section-tonghopphanbien .gui-phan-bien-form {
  padding-top: 20px;
}
.section-tonghopphanbien .gui-phan-bien-form .form-item {
  margin-bottom: 10px;
}
.section-tonghopphanbien .gui-phan-bien-form .form-item label {
  padding-bottom: 5px;
}
.section-tonghopphanbien .gui-phan-bien-form .form-item .form-submit {
  background: #5ea4e0;
  font-family: "elle-bold";
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
}
.section-tonghopphanbien .gui-phan-bien-form .form-submit-button {
  padding-top: 40px;
}
.section-xem-phan-bien .phanbien-list {
  padding-top: 18px;
  padding-left: 5px;
}
.section-xem-phan-bien .phanbien-list .update {
  text-align: right;
}
.section-xem-phan-bien .phanbien-list .update a {
  background: #5ea4e0;
  font-family: "elle-bold";
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
}
.section-xem-phan-bien .phanbien-list .node-title {
  color: #5ea4e0;
  font-size: 18px;
  font-family: "elle-bold";
  padding-bottom: 10px;
  padding-left: 30px;
}
.section-xem-phan-bien .phanbien-list .node-title span {
  color: #000;
}
.section-xem-phan-bien .phanbien-list .phanbien-item .title {
  background: #ebebeb;
  padding: 5px 30px 5px 30px ;
  font-size: 18px;
  color: #000;
  font-family: "elle-bold", Arial, sans-serif;
  line-height: 1.35;
}
.section-xem-phan-bien .phanbien-list .phanbien-item .title span {
  font-family: "elle-regular", Arial, sans-serif;
  position: absolute;
  right: 35px;
}
.section-xem-phan-bien .phanbien-list .phanbien-item .content {
  padding: 20px 30px;
}
.section-xem-phan-bien .phanbien-list .phanbien-item .content .content-inner {
  padding: 15px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 85%;
  display: inline-block;
}
.section-xem-phan-bien .phanbien-list .phanbien-item .attached {
  width: 13%;
  position: absolute;
  right: 20px;
  display: inline-block;
}
.section-xem-phan-bien .phanbien-list .phanbien-item .attached .attached-inner {
  padding: 15px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.pager-reader-list .page-list .page-item {
  padding-bottom: 10px;
}
.pager-reader-list .page-list span {
  padding-right: 10px;
  display: inline-block;
}
.view-magazine-page .view-container {
  width: 800px;
  height: 1200px;
}
.view-magazine-page .view-container iframe {
  width: 100%;
  height: 100%;
}
.page-node-magazine-detail .title-news-first {
  text-align: right;
  color: #5ea4e0;
  font-family: "elle-bold";
  font-style: italic;
  margin-bottom: 25px;
}
.page-node-magazine-detail .chapter-list {
  padding-bottom: 20px;
}
.page-node-magazine-detail .chapter-list .chapter-item .chapter-title {
  font-family: "elle-bold";
  padding: 8px 0px 10px 10px;
  background: #5ea4e0;
  margin-bottom: 10px;
  color: #fff;
}
.page-node-magazine-detail .chapter-list .chapter-item .chapter-files {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #adadad;
}
.page-node-magazine-detail .chapter-list .chapter-item .chapter-files .left {
  width: 85%;
  display: inline-block;
}
.page-node-magazine-detail .chapter-list .chapter-item .chapter-files .right {
  width: 10%;
  display: inline-block;
  vertical-align: top;
}
.page-node-magazine-detail .chapter-list .chapter-item .chapter-files .title-link {
  padding-bottom: 15px;
}
.page-node-magazine-detail .chapter-list .chapter-item .chapter-files .title-link a {
  font-size: 15px;
}
.page-node-magazine-detail .container-news-first {
  display: none;
}
.notification-block {
  margin-bottom: 20px;
}
.notification-block .message-header {
  cursor: pointer;
  color: #5ea4e0;
  padding-bottom: 10px;
}
.notification-block .message-list {
  max-height: 100px;
  overflow-x: auto;
  display: none;
}
.notification-block .message-list .message-item {
  padding-bottom: 5px;
}
.phan-loai-bai-nghien-cuu .block-title {
  color: #5ea4e0;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}
.phan-loai-bai-nghien-cuu .btt-projects-list {
  display: none;
}
.ui-widget-overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
}
.ui-dialog {
  z-index: 999;
  background: #fff;
}
.ui-dialog .ui-dialog-titlebar {
  background: #5ea4e0;
  padding: 10px;
  font-size: 20px;
  font-family: "elle-bold";
  color: #fff;
  text-transform: uppercase;
  cursor: move;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  padding: 0px 5px;
  float: right;
}
.ui-dialog .form-content {
  padding: 20px;
}
.ui-dialog .form-content .field-register .form-item {
  margin: 0px;
}
.ui-dialog .form-content .label,
.ui-dialog .form-content label {
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.ui-dialog .form-content .form-item {
  padding-bottom: 10px;
}
.ui-dialog .form-content .section-item-submit {
  padding-top: 10px;
}
.ui-dialog .form-content .section-item-submit .form-submit {
  padding: 8px 20px 10px;
  color: #fff;
  background: #5ea4e0;
}
.ui-dialog .form-content .section-item-submit .form-submit:hover {
  background: #0a6abd;
}
.ui-dialog .form-content .invite-item .remove-row {
  padding-bottom: 10px;
}
.section-bbt-update-project .section-form {
  padding-bottom: 20px;
}
.section-bbt-update-project .section-action .project-submit-button {
  margin-right: 10px;
  padding: 8px 20px 10px;
  color: #fff;
  background: #5ea4e0;
}
.section-bbt-update-project .section-action .project-submit-button:hover {
  background: #0a6abd;
}
.section-bbt-update-project .section-phan-bien {
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
  padding-top: 10px;
}
.section-bbt-update-project .section-phan-bien .feedback-title {
  padding-bottom: 10px;
}
.section-bbt-update-project .section-phan-bien .renew-feedback {
  padding-top: 10px;
}
.section-bbt-update-project .section-phan-bien .feedback-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.section-bbt-update-project .section-phan-bien .feedback-item .feedback-content span{
  font-family:"elle-bold";
}
.section-account .color-note {
  margin-top: 20px;
}
.section-account .color-note .note-title {
  margin-bottom: 10px;
  font-family: "elle-bold";
}
.section-account .color-note .note-item {
  margin-bottom: 5px;
}
.section-account .color-note .note-item .nhac-lan-1 {
  color: #fff000;
}
.section-account .color-note .note-item .nhac-lan-2 {
  color: #ff9000;
}
.section-account .color-note .note-item .vuot-thoi-gian {
  color: #ff0000;
}
.section-account .color-note .note-item .normal {
  color: #000;
}
@media screen and (max-width: 768px) {
  .section-bbt-update-project .section-action .project-submit-button {
    padding: 8px 10px 10px;
  }
}
@media screen and (max-width: 767px) {
  .section-bbt-update-project .section-action .project-submit-button {
    padding: 8px 5px 10px;
    width: 100%;
    margin-bottom: 5px;
  }
}
